* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*TODO header details*/
.header {
    box-sizing: border-box;
    background-color: darkolivegreen;
}

.profile-photo{
    width: 300px;
    height: auto;
    margin: 50px;
    position: relative;
    right: 430px;
}

.header h1 {
    display: inline-block; 
    margin: 10px 80px;
}

.header nav {
    float: right;
    font-size: 24px;
}

.header nav ul {
    list-style-type: none;
    margin: 30px 60px
}

.header nav ul li {
    display: inline-block;
    margin-left: 10px;
    font-size: 27px;
}

a {
    color: darkseagreen;
    text-decoration: none;
}

section.topics {
    margin: 30px 100px;  
}

p {
    justify-content: center;
    display: flex;
}

.about-me,
.my-apps,
.contact-me {
    border-right-style: solid;
    border-left-style: solid;
    padding: 49px;
    margin-bottom: 70px;
}

.about-me h2,
.my-apps h2,
.contact-me h2 { 
    display: flex;
    margin: auto;
    justify-content: center;
}

.crochet a,
.alpaca a,
.crystals a,
.botique a {
display: flex;
}

.main-app {
    display: flex;
    align-items: center;
    width: 40%;
    height: auto;
}

.crochet {
    width: 20%;
    height: auto;
}


.my-apps .main-app{
    position: relative;
    text-align: center;
    color: black;
}

h3#main-app {
    position: absolute;
    bottom: 8px;
    left: 16px;
}