* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*The header style*/
.header {
    box-sizing: border-box;
    background-color: darkolivegreen;
}

/*Profile Photos size*/
.profile-photo{
    width: 175px;
    height: auto;
    margin: 50px;
    position: relative;
    right: 430px;
}

/*h1 style in the header*/
.header h1 {
    display: inline-block; 
    margin: 10px 80px;
}

.header nav {
    float: right;
    font-size: 24px;
}

.header nav ul {
    list-style-type: none;
    margin: 30px 60px
}

.header nav ul li {
    display: inline-block;
    margin-left: 10px;
    font-size: 27px;
}

a {
    color: darkseagreen;
    text-decoration: none;
}

section.topics {
    margin: 30px 100px;  
}

p {
    justify-content: center;
    display: flex;
}

.about-me,
.my-apps,
.contact-me {
    border-right-style: solid;
    border-left-style: solid;
    padding: 49px;
    margin-bottom: 70px;
}

.about-me h2,
.my-apps h2,
.contact-me h2 { 
    display: flex;
    margin: auto;
    justify-content: center;
}



.main-app {
    width: 40%;
    height: auto;
}

.crochet {
    width: 20%;
    height: auto;
}


.bass,
.alpaca-a,
.crochet-a,
.crystals-a,
.concerts-a{
    position: relative;
    text-align: center;
    color: black;
}

.project-a,
.project-b,
.project-c,
.project-d,
.project-e{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

@media screen and (max-width: 1274px) {
    .header {
        width: 100%;
        height: auto;
    }
    .header nav ul {
        display: flex;
        
        justify-content: center;
        margin: 0px;
    }
}