* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*TODO header details*/
.header {
    box-sizing: border-box;
    background-color: darkolivegreen;
}

.profile-photo{
    width: 300px;
    height: auto;
    margin: 50px;
    position: relative;
    right: 430px;
}

.header h1 {
    display: inline-block; 
    margin: 10px 80px;
}

.header nav {
    float: right;
    font-size: 24px;
}

.header nav ul {
    list-style-type: none;
    margin: 30px 60px
}

.header nav ul li {
    display: inline-block;
    margin-left: 10px;
    font-size: 27px;
}

a {
    color: darkseagreen;
    text-decoration: none;
}

section.topics {
    border-right-style: solid;
    margin: 30px 20px;
    float: left;
}

.about-me,
.my-apps,
.contact-me {
    padding: 49px;
    margin-bottom: 70px;
    border-right: 10px;
    border-right-color: black;
}

.about-me h2,
.my-apps h2,
.contact-me h2 { 
    margin: auto;
}